.video-react>.video-react-bezel {
  display: none !important;
}

body {
  width: 100%;
  text-align: center;
}

/* 最外层的盒子 */
.container {
  position: relative;
  display: inline-block;
}

.video {
  z-index: 100;
  cursor: pointer;
}

/* 声音 */
.sound {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 16px;
  user-select: none;
  z-index: 102;
  color: white;
  padding: 3px 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .6);
}

.sound:hover>.iconfont {
  text-shadow: 2px 2px 5px white;
  transition: text-shadow .2s;
}

.sound>.iconfont {
  font-size: 16px;
}

/* 时间条 */
.timeline {
  position: absolute;
  right: 15px;
  top: -33px;
  user-select: none;
  color: white;
  z-index: 102;
}

/* video-react自定义的loading效果 */
.video-react-loading-spinner {
  display: none !important;
}