.video-react > .video-react-bezel {
  display: none !important;
}

body {
  width: 100%;
  text-align: center;
}

/* 最外层的盒子 */
.container {
  position: relative;
  display: inline-block;
  margin: 30px 0;
}

.video {
  z-index: 100;
  cursor: pointer;
}

/* 声音 */
.sound {
  position: absolute;
  left: 10px;
  font-size: 24px;
  user-select:none;
  z-index: 102;
  color: white;
}

.sound:hover > .iconfont {
  text-shadow: 2px 2px 5px white;
  transition: text-shadow .2s;
}

.sound > .iconfont {
  font-size: 24px;
}

/* 进度条 */
.progressBar {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ccc;
  z-index: 102;
}

.progress {
  width: 0;
  height: 3px;
  background-color: orange;
  transition: width .5s;
}

/* 时间条 */
.timeline {
  position: absolute;
  right: 5px;
  bottom: 5px;
  user-select:none;
  color: white;
  z-index: 102;
}

/* video-react自定义的loading效果 */
.video-react-loading-spinner {
  display: none !important;
}

