.video-react > .video-react-bezel {
  display: none !important;
}

body {
  width: 100%;
  text-align: center;
}

.container {
  margin: 30px 0;
  position: relative;
  display: inline-block;
}

.video {
  z-index: 100;
}

.sound {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
  font-size: 24px;
  user-select:none;
  z-index: 102;
}

.muted {
  color: red;
}

.timeline {
  position: absolute;
  right: 5px;
  bottom: 5px;
  user-select:none;
  z-index: 102;
}

.cover {
  z-index: 101;
}
